@{
    Layout = "_MioLayout";
}



        <div class="container mt-5">
    <div class="col-12 bg-secondary border border-3">
                <h3 style="color: darkorange; font-family: 'Pacifico', cursive;">MENU' DELLE PIZZE'</h3>
            </div>
            </div>
            <div class="row my-3">
            <div class="col-10 mx-auto">

                <table class="table bg-secondary">
                        <thead>
                        <tr class="background_color_orange" style="color: red; font-weight: bold">
                            <th scope="col" class="border border-3" style="font-size: 30px;">Pizza &#x1F355</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Ingredienti &#128221;</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Illustrazione Rappresentativa &#x1F50D</th>
                            <th scope="col" class="border border-3" style="font-size: 30px;">Prezzo &#x1F4B5</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr style="color: darkorange; font-weight: bold">
                            <th class="border border-3" scope="row">Margherita</th>
                            <td class="border border-3">Pomodoro, Mozzarella, Basilico e Olio</td>
                            <td class="border border-3"><img class="img-fluid img_square" src="~/img/margherita.png" alt="Immagine logo Bing"></td>
                            <td class="border border-3"> 6.00 €</td>
                            </tr>

                        <tr style="color: darkgreen; font-weight: bold">
                            <th class="border border-3" scope="row">Marinara</th>
                            <td class="border border-3">Pomodoro, Aglio, Origano e Olio</td>
                            <td class="border border-3"><img class="img-fluid img_square" src="~/img/marinara.png" alt="Immagine logo Bing"></td>
                            <td class="border border-3"> 5.50 €</td>
                        </tr>

                        <tr style="color: darkorange; font-weight: bold">
                            <th class="border border-3" scope="row">Capricciosa</th>
                            <td class ="border border-3">Pomodoro, Mozzarella, Funghi, Prosciutto Cotto e Carciofini</td>
                            <td class="border border-3"><img class="img-fluid img_square" src="~/img/capricciosa.png" alt="Immagine logo Bing"></td>
                            <td class="border border-3"> 7.00 €</td>
                        </tr>

                        <tr style="color: darkgreen; font-weight: bold">
                            <th class="border border-3" scope="row">Diavola</th>
                            <td class="border border-3">Fior di latte, Spianata piccante, Pomodoro, Basilico, Olio e Peperoncino</td>
                            <td class="border border-3"><img class="img-fluid img_square" src="~/img/diavola.png" alt="Immagine logo Bing"></td>
                            <td class="border border-3"> 6.50 €</td>
                        </tr>






                        </tbody>
                    </table>

                </div>
            </div>
        </div>

